<!--
<div style="text-align: center;">
-->
<div>
  <!--
  <h1>
    LocalCast Weather
  </h1>
  -->
  <mat-toolbar color="primary">
    <span>LocalCast Weather</span>
  </mat-toolbar>
  <!--
  <div>
    Sua cidade, sua previsão, agora mesmo!
  </div>
  -->
  <div fxLayoutAlign="center">
    <div class="mat-caption vertical-margin">
      Sua cidade, sua previsão, agora mesmo!
    </div>
  </div>
  <!--
  <h2>Clima Atual</h2>
  -->
  <!--
  <div>clima atual</div>
  -->
  <!--
  <app-current-weather></app-current-weather>
  -->
  <!--
  <mat-card>
    <h2>Clima Atual</h2>
    <app-current-weather></app-current-weather>
  </mat-card>
  -->

  <div fxLayoutAlign="center">
    <app-city-search></app-city-search>
  </div>

  <div fxLayout="row">
    <div fxFlex></div>
    <div fxFlex="300px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="mat-headline-5">
              Clima Atual
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-current-weather></app-current-weather>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex></div>
  </div>
</div>

<div class="example">
  <div fxLayoutAlign="center" style="margin-top: 64px;">
    <div class="mat-h3">Template-driven form intput</div>
  </div>
  <div fxLayoutAlign="center">
    <app-city-search-tpldriven></app-city-search-tpldriven>
  </div>
</div>